interface=wlan0
ctrl_interface=/var/run/hostapd
driver=rtl871xdrv
ssid=XiaoFang
beacon_int=100
hw_mode=g
ieee80211n=1
wme_enabled=1
ht_capab=[SHORT-GI-20][SHORT-GI-40]
max_num_sta=8
auth_algs=1
wpa_passphrase=XiaoFang
wpa_key_mgmt=WPA-PSK
#wpa_pairwise=TKIP # insecure, old clients
rsn_pairwise=CCMP
interface=wlan0
ignore_broadcast_ssid=0
